/*================================================================================*/
/*          Screen Setting For normal PC and Laptop                               */
/*================================================================================*/
@media screen and (min-width: 1200px) {
   body{
      z-index: -1;
      margin: 0px;
      background: #000000 center center fixed no-repeat;
      background-size: cover;
      font-family: 'Roboto Mono', ;
   }

   .weatherWidget{
      color: white;
   }
   .timeText{
      z-index: 1;
      margin:0 auto;
      text-align: center;
      text-shadow: 1.5px 1.5px 5px rgba(0, 0, 0, 0.5);
      color: white;
   }
   .time{
      position: relative;
      letter-spacing: 10px;
      top: 25vh;
      font-size: 150px;
      font-weight: 700;
   }
   .date{
      position: relative;
      top: 25vh;
      font-size: 72px;
      font-weight: 400;
   }

   .currentLocation{
      z-index: 2;
      position: absolute;
      top: 80vh;
      right: 5vw;
   }
   .currentCity{
      background-color: rgba(255, 255, 255, 0.75);
      border: solid 5px rgba(250, 250, 250, 0.5);
      color: rgba(100, 100, 100, 0.8);
      margin: 5px;
      padding: 5px;
      height: 50px;
      width: 450px;
      font-size: 30px;
      text-shadow: 0.5px 0.5px 0.25px rgba(0, 0, 0, 0.5);
      transition: border 0.3s;
   }
   .currentCity:focus,
   .currentCity.focus{
      background-color: rgba(250, 250, 250, 0.85);
      border: solid 5px rgba(150, 150, 150, 1);
      color: rgba(50, 50, 50, 1);
   }
   #submit{
      background-color: rgba(255, 255, 255, 0.75);
      border: solid 5px rgba(250, 250, 250, 0.5);
      color: rgba(75, 75, 75, 1);
      margin: 5px;
      padding: 5px;
      height: 70px;
      width: 100px;
      font-size: 30px;
      text-shadow: 0.5px 0.5px 0.25px rgba(0, 0, 0, 0.5);
      transition: border 0.2s;
   }
   #submit:hover{
      background-color: rgba(250, 250, 250, 0.85);
      border: solid 5px rgba(150, 150, 150, 1);
      color: rgba(50, 50, 50, 1);
   }
}

/*================================================================================*/
/*          Screen Setting For smaller PC and Laptop                              */
/*================================================================================*/
@media screen and (min-width: 769px) and (max-width: 1200px) {
   body{
      z-index: -1;
      margin: 0px;
      background: #000000 center center fixed no-repeat;
      background-size: cover;
      font-family: 'Roboto Mono', ;
   }

   .weatherWidget{
      color: white;
   }
   .timeText{
      z-index: 1;
      margin:0 auto;
      text-align: center;
      text-shadow: 1.5px 1.5px 5px rgba(0, 0, 0, 0.5);
      color: white;
   }
   .time{
      position: relative;
      letter-spacing: 5px;
      top: 25vh;
      font-size: 125px;
      font-weight: 700;
   }
   .date{
      position: relative;
      top: 25vh;
      font-size: 60px;
      font-weight: 400;
   }

   .currentLocation{
      z-index: 2;
      position: absolute;
      top: 80vh;
      right: 5vw;
   }
   .currentCity{
      background-color: rgba(255, 255, 255, 0.75);
      border: solid 5px rgba(250, 250, 250, 0.5);
      color: rgba(100, 100, 100, 0.8);
      margin: 5px;
      padding: 5px;
      height: 50px;
      width: 400px;
      font-size: 30px;
      text-shadow: 0.5px 0.5px 0.25px rgba(0, 0, 0, 0.5);
      transition: border 0.3s;
   }
   .currentCity:focus,
   .currentCity.focus{
      background-color: rgba(250, 250, 250, 0.85);
      border: solid 5px rgba(150, 150, 150, 1);
      color: rgba(50, 50, 50, 1);
   }
   #submit{
      background-color: rgba(255, 255, 255, 0.75);
      border: solid 5px rgba(250, 250, 250, 0.5);
      color: rgba(75, 75, 75, 1);
      margin: 5px;
      padding: 5px;
      height: 70px;
      width: 100px;
      font-size: 30px;
      text-shadow: 0.5px 0.5px 0.25px rgba(0, 0, 0, 0.5);
      transition: border 0.2s;
   }
   #submit:hover{
      background-color: rgba(250, 250, 250, 0.85);
      border: solid 5px rgba(150, 150, 150, 1);
      color: rgba(50, 50, 50, 1);
   }
}

/*================================================================================*/
/*          Screen Setting For Tablet                                             */
/*================================================================================*/
@media screen and (min-width: 481px) and (max-width: 768px) {
   body{
      z-index: -1;
      margin: 0px;
      background: #000000 center center fixed no-repeat;
      background-size: cover;
      font-family: 'Roboto Mono', ;
   }

   .weatherWidget{
      color: white;
   }
   .timeText{
      z-index: 1;
      margin:0 auto;
      text-align: center;
      text-shadow: 1.5px 1.5px 5px rgba(0, 0, 0, 0.5);
      color: white;
   }
   .time{
      position: relative;
      letter-spacing: 5px;
      top: 25vh;
      font-size: 75px;
      font-weight: 500;
   }
   .date{
      position: relative;
      letter-spacing: auto;
      top: 25vh;
      font-size: 36px;
      font-weight: 400;
   }

   .currentLocation{
      z-index: 2;
      margin: 0 auto;
      text-align: center;
   }
   .currentCity{
      position: relative;
      top: 40vh;
      background-color: rgba(255, 255, 255, 0.75);
      border: solid 5px rgba(250, 250, 250, 0.5);
      color: rgba(100, 100, 100, 0.8);
      margin: 5px;
      padding: 5px;
      height: 75px;
      width: 360px;
      font-size: 32px;
      text-shadow: 0.5px 0.5px 0.25px rgba(0, 0, 0, 0.5);
      transition: border 0.3s;
   }
   .currentCity:focus,
   .currentCity.focus{
      background-color: rgba(250, 250, 250, 0.85);
      border: solid 5px rgba(150, 150, 150, 1);
      color: rgba(50, 50, 50, 1);
   }
   #submit{
      position: relative;
      top: 40vh;
      background-color: rgba(255, 255, 255, 0.75);
      border: solid 5px rgba(250, 250, 250, 0.5);
      color: rgba(75, 75, 75, 1);
      margin: 5px;
      padding: 5px;
      height: 70px;
      width: 380px;
      font-size: 32px;
      text-shadow: 0.5px 0.5px 0.25px rgba(0, 0, 0, 0.5);
      transition: border 0.2s;
   }
   #submit:hover{
      background-color: rgba(250, 250, 250, 0.85);
      border: solid 5px rgba(150, 150, 150, 1);
      color: rgba(50, 50, 50, 1);
   }
}

/*================================================================================*/
/*          Screen Setting For Mobile Device                                      */
/*================================================================================*/
@media screen and (max-width: 480px) {
   body{
      z-index: -1;
      margin: 0px;
      background: #000000 center center fixed no-repeat;
      background-size: cover;
      font-family: 'Roboto Mono', ;
   }

   .weatherWidget{
      color: white;
   }
   .timeText{
      z-index: 1;
      margin:0 auto;
      text-align: center;
      text-shadow: 1.5px 1.5px 5px rgba(0, 0, 0, 0.5);
      color: white;
   }
   .time{
      position: relative;
      letter-spacing: 5px;
      top: 25vh;
      font-size: 65px;
      font-weight: 500;
   }
   .date{
      position: relative;
      letter-spacing: -1px;
      top: 25vh;
      font-size: 30px;
      font-weight: 400;
   }

   .currentLocation{
      z-index: 2;
      margin: 0 auto;
      text-align: center;
   }
   .currentCity{
      position: relative;
      top: 40vh;
      background-color: rgba(255, 255, 255, 0.75);
      border: solid 5px rgba(250, 250, 250, 0.5);
      color: rgba(100, 100, 100, 0.8);
      margin: 5px;
      padding: 5px;
      height: 50px;
      width: 300px;
      font-size: 24px;
      text-shadow: 0.5px 0.5px 0.25px rgba(0, 0, 0, 0.5);
      transition: border 0.3s;
   }
   .currentCity:focus,
   .currentCity.focus{
      background-color: rgba(250, 250, 250, 0.85);
      border: solid 5px rgba(150, 150, 150, 1);
      color: rgba(50, 50, 50, 1);
   }
   #submit{
      position: relative;
      top: 40vh;
      background-color: rgba(255, 255, 255, 0.75);
      border: solid 5px rgba(250, 250, 250, 0.5);
      color: rgba(75, 75, 75, 1);
      margin: 5px;
      padding: 5px;
      height: 50px;
      width: 320px;
      font-size: 24px;
      text-shadow: 0.5px 0.5px 0.25px rgba(0, 0, 0, 0.5);
      transition: border 0.2s;
   }
   #submit:hover{
      background-color: rgba(250, 250, 250, 0.85);
      border: solid 5px rgba(150, 150, 150, 1);
      color: rgba(50, 50, 50, 1);
   }
}
