body{
   background-image: url("img/1.jpg");
   background-size: 100% 100%;
   margin: 0;
}

#title{
   position: fixed;
   z-index: 2;
   font-family: 'Josefin Slab', serif;
   font-weight: 400;
   font-size: 24px;
   letter-spacing: 3px;
   color: #BBBBBB;
   text-align: center;
   left: 38.5vw;
   top: 82.5vh;
   margin: auto;
   padding: 7.5px 75px 7.5px 75px;
   border: 3px;
   border-style: solid;
   border-color: #555555;
   opacity: 0.8;
}
#title:hover{
   color: #EEEEEE;
   border-color: #999999;
}

#subtitle{
   z-index: 1;
   position: fixed;
   left: 33vw;
   top:  25vh;
   font-family: 'Josefin Slab', serif;
   font-weight: 700;
   font-size: 100px;
   color: #CCCCCC;
}

#header{
   position: fixed;
   right: 2.5vw;
   font-family: 'Josefin Slab', serif;
   font-weight: 400;
   font-size: 28px;
   color: #CCCCCC;
}

#container{
   margin: 0;
   height: 100vh;
   width: 100vw;
}

.boxes{
   position: relative;
   float: left;
   margin: 0;
   height: 100vh;
   width: 10vw;
   opacity: 0.985;
}

#box1, #box3, #box5, #box7, #box9{
   background-color: rgba(25, 25, 25, 1);
}
#box2, #box4, #box6, #box8, #box10{
   background-color: rgba(23, 23, 23, 1);
}

#footer{
   position: fixed;
   top: 96.5vh;
   left: 1vw;
   color: rgba(200, 200, 200, 0.3);
}
